@model CoffeeANDTea.Data.DrinkCategory

@{
    ViewData["Title"] = "Create";
}

<h1>Добавяне на напитка</h1>

<h4>Категории напитки</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Име</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                <input asp-for="DateUpdate" class="form-control" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Добавяне" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Предишна страница</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
